body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Audiowide", sans-serif;
  color: #0c120a;
  background: linear-gradient(to left , #797a79, black);
  }

  .body1 {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Audiowide", sans-serif;
    color: #0c120a;
    background: linear-gradient(to left , rgb(13, 13, 13), silver));
    }

* {box-sizing: border-box;}


/*      --------------------------------------------------------------------------
                                    Header
        --------------------------------------------------------------------------   */

.header {
  background-color: rgb(16, 15, 15);
  height: 100px;
  border-bottom: 5px solid maroon;

}

.icon {
  text-decoration: none;

}

.title {
  font-family: "Audiowide", sans-serif;
  color: white;
  font-weight: 900;
  padding-left: 2%;
  font-size: 55px;
  text-shadow: 5px 10px rgb(128, 0, 11);
  border-bottom: maroon;

}

img {height: 50px;}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 500px;
  z-index: 2;
}


/*      --------------------------------------------------------------------------
                                    Body
        --------------------------------------------------------------------------   */

.pic {
  width: 100%;
  height: 500px;
  box-shadow: 20px 20px 20px #888888;
  border-radius: 25px;
}

h2{margin-left: 200px; color: rgb(230, 182, 77);}
p{margin-left: 30%;}

.items_Gallery {                     /*  Text Box  */
  height: 100%;
  color: rgb(157, 156, 156);
  padding-left: 10%;
  border-bottom: 1px solid rgb(92, 88, 88);
  }

.items_Gallery_1 {                     /*  Text Box  */
  border-bottom: 1px solid rgb(92, 88, 88);
  }

.Gallery_main-page {                  /*  Slide Show  */
  margin-top: 7%;
  display: grid;
  grid-template-columns: 1% 48% 1% 48%;
  grid-template-rows: 21% 1% 21% 1% 21% 1% 21% 1% 21% 1%   ;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgb(92, 88, 88);
  }

.Gallery_main-page-1 {                  /*  Slide Show  */
  margin-top: 7%;
  display: grid;
  grid-template-columns: 1% 48% 1% 48%;
  grid-template-rows: 10% 1% 10% 1% 10% 1% 10% 1% 10% 1% 
                      10% 1% 10% 1% 10% 1% 10% 1% 10% 1% 
                      10% 1% 10% 1% 10% 1% 10% 1% 10% 1%;
  font-size: 20px;
  font-weight: bold;
  }

.Gallery_main-page-2 {                  /*  Slide Show  */
  margin-top: 7%;
  display: grid;
  grid-template-columns: 1% 48% 1% 48%;
  grid-template-rows: 13% 1% 13% 1% 13% 1% 13% 1% 13% 1% 
                      13% 1% 13% 1% 13% 1% 13% 1% 13% 1% 
                      13% 1% 13% 1% 13% 1% 13% 1% 13% 1% ;
  font-size: 20px;
  font-weight: bold;
  }

.Gallery_main-page-3 {                  /*  Slide Show  */
  margin-top: 7%;
  display: grid;
  grid-template-columns: 1% 48% 1% 48%;
  grid-template-rows: 25% 1% 25% 1% 25% 1% 25% 1% 30% 1%  ;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgb(92, 88, 88);
  }

  .Gallery_main-page-4 {               
    margin-top: 7%;
    display: grid;
    grid-template-columns: 1% 48% 1% 48%;
    grid-template-rows: 9% 1% 9% 1% 9% 1% 9% 1% 9% 1% 
                        9% 1% 9% 1% 9% 1% 9% 1% 9% 1% 
                        9% 1% 9% 1% 9% 1% 9% 1% 9% 1% ;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid rgb(92, 88, 88);
    }

    .Gallery_main-page-5 {               
      margin-top: 7%;
      display: grid;
      grid-template-columns: 1% 48% 1% 48%;
      grid-template-rows: 22% 1% 22% 1% 22% 1% 22% 1% 22% 1% 
                          22% 1% 22% 1% 22% 1% 22% 1% 22% 1%  
                          22% 1% 22% 1% 22% 1% 22% 1% 22% 1%  ;
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid rgb(92, 88, 88);
      }


/*      --------------------------------------------------------------------------
                                Fonts
        --------------------------------------------------------------------------   */
        h2  {margin-left: 20px; color: rgb(230, 182, 77);}
        h4  {margin-left: 20px; margin-top: -2%; color: rgb(230, 182, 77);}
        p   {margin-left: 30%;}
        .p1 {color: transparent;}
        .p2  {color: white;}
        .p3 {margin-left: 20px; margin-top: 1%; margin-bottom: 2%; color: rgb(230, 182, 77);}
        .p5 {color: whtie;}

/*      --------------------------------------------------------------------------
                                    Body Buttons
        --------------------------------------------------------------------------   */

.btn {
  font-size: 25px;
  text-decoration: none;
  color: rgb(36, 33, 33);
  background-color: rgb(157, 156, 156);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  margin-left: 15px;
  border: solid ;
  box-shadow: 10px 10px 50px white;
}

.btn:hover  {
  background-color: rgb(119, 43, 43);
  cursor: pointer;
  opacity: .5; 
  color: white;
  width: 210px;
  font-size: 30px;
}

.btn1 {
  font-size: 20px;
  text-decoration: none;
  color: rgb(36, 33, 33);
  background-color: rgb(30, 25, 25);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  margin-left: 15px;
  color:  rgb(157, 156, 156);
  box-shadow: 5px 5px 20px #888888;
}

.btn-1, .btn-2, .btn-3, .btn-4 {
  margin-left: -20px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: rgb(201, 199, 199);
  background-image: linear-gradient(rgb(60, 22, 22), rgb(92, 94, 92));
  padding-left: 16%;
  padding-right: 16%;
  border: solid, black;
  border-radius: 25px;
  margin-left: 10px;
  box-shadow: 5px 5px 15px white;
}

.btn-1 {
  padding-left: 31%;
  padding-right: 31%;
}

.btn-2 {
  padding-left: 30%;
  padding-right: 29%;
}

.btn-3 {
  padding-left: 27%;
  padding-right: 27%;
}




.btn-1:hover , .btn-2:hover, .btn-3:hover, .btn-4:hover {
  cursor: pointer;
  color: white;
  font-size: 25px;
}








/*----------------------------------------------------------------------
                        Transitions Code
----------------------------------------------------------------------*/

/*                   Row 1 - Wildcat                   */

.container1 {
    height: 95vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate1;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate1 {

    0%   {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-1.Wildcat.jpeg);}
    10%  {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-10.Wildcat.webp);}
    20%  {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-9.Wildcat.jpeg);}
    30%  {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-8.Wildcat.webp);}
    40%  {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-7.WildCat.jpeg);}
    50%  {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-6.Wildcat.jpeg);}
    60%  {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-5.Wildcat.jpeg);}
    70%  {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-4.Wildcat.jpeg);}
    80%  {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-3.Wildcat.jpeg);}
    90%  {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-2.Wildcat.jpeg);}
    100% {background-image:url(../../1-1-1_Pics_SXS_WildCat/4-1-1.Wildcat.jpeg);}
    }

/*                   Row 2  - CanAm                  */

.container2 {
  height: 55vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 50s;
  animation-name: animate2;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate2 {
    0%   {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-1.CanAM.jpeg);}
    10%  {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-10.CanAm.jpeg);}
    20%  {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-9.CanAm.webp);}
    30%  {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-8.CanAm.webp);}
    40%  {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-7.CanAm.webp);}
    50%  {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-6.CanAM.jpeg);}
    60%  {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-5.CanAM.jpeg);}
    70%  {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-4.CanAM.jpeg);}
    80%  {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-3.CanAM.jpeg);}
    90%  {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-2.CanAM.jpeg);}
    100% {background-image:url(../../1-1-2_Pics_SXS_CanAm_X3/2-1-1.CanAM.jpeg);}
    }

/*                   Row 3  - RZR                  */

.container3 {
    height: 55vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    animation-name: animate3;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate3 {

  0%   {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-1.RZR.jpeg);}
  10%  {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-10.RZR.webp);}
  20%  {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-9.RZR.jpeg);}
  30%  {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-8.RZR.jpeg);}
  40%  {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-7.RZR.jpeg);}
  50%  {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-6.RZR.webp);}
  60%  {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-5.RZR.webp);}
  70%  {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-4.RZR.jpeg);}
  80%  {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-3.RZR.jpeg);}
  90%  {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-2.RZR.jpeg);}
  100% {background-image:url(../../1-1-3_Pics_SXS_RZR/1-1-1.RZR.jpeg);}
    }

/*                   Row 4  - Talon                  */

.container4 {
    height: 55vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
    animation-name: animate4;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate4 {

    0%   {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/3.pic.jpeg);}
    10%  {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/2.pic.jpeg);}
    20%  {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/9.pic.jpeg);}
    30%  {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/8.pic.jpeg);}
    40%  {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/7.pic.jpeg);}
    50%  {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/6.pic.jpeg);}
    60%  {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/5.pic.jpeg);}
    70%  {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/4.pic.jpeg);}
    80%  {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/3.pic.jpeg);}
    90%  {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/2.pic.jpeg);}
    100% {background-image:url(../../1-1-4_Pics_SXS_Honda_Talon/9.pic.jpeg);}
    }


/*                   Row 5 -  KRX                 */

.container5 {
    height: 55vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate5;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate5 {
    0%   {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/1_Pic.jpeg);}
    10%  {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/10_Pic.jpeg);}
    20%  {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/9_Pic.jpeg);}
    30%  {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/8_Pic.jpeg);}
    40%  {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/7_Pic.jpeg);}
    50%  {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/6_Pic.jpeg);}
    60%  {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/5_Pic.jpeg);}
    70%  {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/4_Pic.jpeg);}
    80%  {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/3_Pic.jpeg);}
    90%  {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/2_Pic.webp);}
    100%  {background-image:url(../../1-1-5_Pics_SXS_Kawasaki_KRX/1_Pic.jpeg);}
  }

      /*----------------------------------------------------------------------
                          Transitions Code - 60s Cars
  ----------------------------------------------------------------------*/

/*                             1962_Ferrari_250_GTO                   */

.container61 {
  height: 55vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 50s;
  animation-name: animate61;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate61 {
  0%    {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/4_Pic.jpg);}
  10%   {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/3_Pic.webp);}
  20%   {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/3_Pic.jpg);}
  30%   {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/2_Pic.jpg);}
  40%   {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/2_Pic.webp);}
  50%   {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/2_Pic.jfif);}
  60%   {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/1_Pic.avif);}
  70%   {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/1_Pic.webp);}
  80%   {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/1_Pic.png);}
  90%   {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/1_Pic.jfif);}
  100%  {background-image:url(../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/1_Pic.jpg);}
  }

/*                              1961_Jaguar_XK_E               */

.container62 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate62;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate62 {
  00%   {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/11_Pic.webp);}
  10%   {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/10_Pic.jfif);}
  20%   {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/9_Pic.avif);}
  30%   {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/8_Pic.jpg);}
  40%   {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/7_Pic.jpg);}
  50%   {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/6_Pic.jpg);}
  60%   {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/5_Pic.jpg);}
  70%   {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/4_Pic.jpg);}
  80%   {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/3_Pic.jpg);}
  90%   {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/2_Pic.jpg);}
  100%  {background-image:url(../../../1-1-24_Pics_Cars60_1961_Jaguar_XK_E/1_Pic.jpg);}

  }

/*                          `   1966_Lamborgini_Miura                  */

.container63 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate63;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate63 {

  0%   {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/10_Pic.webp);}
  10%  {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/9_Pic.jpg);}
  20%  {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/8_Pic.jpg);}
  30%  {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/7_Pic.jpg);}
  40%  {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/6_Pic.jpg);}
  50%  {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/5_Pic.jpg);}
  60%  {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/5_Pic.jpeg);}
  70%  {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/4_Pic.jpg);}
  80%  {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/3_Pic.webp);}
  90%  {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/2_Pic.jfif);}
  100% {background-image:url(../../../1-1-25_Pics_Cars60_1966_Lamborgini_Miura/1_Pic.jpg);}
  }

/*                                      1967_Ford_GT40                  */

.container64 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate64;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate64 {
  0%    {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/1_Pic.webp);}
  10%   {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/9_Pic.jpg);}
  20%   {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/8_Pic.jpg);}
  30%   {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/7_Pic.jpg);}
  40%   {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/6_Pic.jpg);}
  50%   {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/5_Pic.jpg);}
  60%   {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/4_Pic.jpg);}
  70%   {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/3_Pic.jpg);}
  80%   {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/2_Pic.webp);}
  90%   {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/2_Pic.jpg);}
  100%  {background-image:url(../../../1-1-25_Pics_Cars60_1967_Ford_GT40/1_Pic.jpg);}
  }

/*                                    1963_Chevy_Corvette                   */

.container65 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate65;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate65 {

  0%    {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/11_PIc.webp);}
  10%   {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/10_PIc.webp);}
  20%   {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/9_PIc.webp);}
  30%   {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/8_PIc.webp);}
  40%   {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/8_Pic.jpg);}
  50%   {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/6_Pic.jpg);}
  60%   {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/5_Pic.jpg);}
  70%   {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/4_Pic.jpg);}
  80%   {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/3_Pic.jpg);}
  90%   {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/10_PIc.webp);}
  100%  {background-image:url(../../../1-1-26_Pics_Cars60_1963_Chevy_Corvette/2_Pic.jpg);}
  }

/*                                      1960_Dodge_Challenger                   */

.container66 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 50s;
  animation-name: animate66;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate66 {

  0%    {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/10_Pic.jpg);}
  10%   {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/10_PIc.jpeg);}
  20%   {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/9_Pic.jpg);}
  30%   {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/8_Pic.jpg);}
  40%   {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/8_Pic.jfif);}
  50%   {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/7_Pic.jpg);}
  60%   {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/6_Pic.jpg);}
  70%   {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/6_pic.avif);}
  80%   {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/3_Pic.webp);}
  90%   {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/2_Pic.webp);}
  100%  {background-image:url(../../../1-1-27_Pics_Cars60_1960_Dodge_Challenger/1_Pic.webp);}


  }

/*                                      1960_Dodge_Charger                   */

.container67 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate67;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate67 {


  0%    {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/10_Pic.webp);}
  10%   {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/9_Pic.webp);}
  20%   {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/8_Pic.webp);}
  30%   {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/8_Pic.jfif);}
  40%   {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/7_Pic.webp);}
  50%   {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/6_Pic.webp);}
  60%   {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/6_Pic.jfif);}
  70%   {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/4_Pic.jpg);}
  80%   {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/3_Pic.jpg);}
  90%   {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/2_Pic.jpg);}
  100%  {background-image:url(../../../1-1-28_Pics_Cars60_1960_Dodge_Charger/1_Pic.jpg);}
  }

  /*                                          1960_Chevy_Camaro/                */

.container68 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate68;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate68 {

  0%    {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/10_Pic.jfif);}
  10%   {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/9_Pic.jfif);}
  20%   {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/8_Pic.jfif);}
  30%   {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/6_Pic.jpg);}
  40%   {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/5_Pic.jpg);}
  50%   {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/4_Pic.webp);}
  60%   {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/4_Pic.jpg);}
  70%   {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/3_Pic.webp);}
  80%   {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/3_Pic.jpg);}
  90%   {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/2_Pic.jpg);}
  100%  {background-image:url(../../../1-1-29_Pics_Cars60_1960_Chevy_Camaro/1_Pic.jpg);}
  }

      /*                               1960_Ford_Mustang                   */

.container69 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate69;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate69 {

  0%     {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/11_Pic.jpg);}
  10%    {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/10_Pic.jpg);}
  20%    {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/9_Pic.jpg);}
  30%    {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/8_Pic.jpg);}
  40%    {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/8_Pic.jpeg);}
  50%    {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/7_Pic.jpg);}
  60%    {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/6_Pic.jpg);}
  70%    {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/5_Pic.jpg);}
  80%    {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/5_Pic.webp);}
  90%    {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/2_Pic.jfif);}
  100%   {background-image:url(../../../1-1-30_Pics_Cars60_1960_Ford_Mustang/1_Pic.jfif);}
  }

          /*                               1964_Pontiac-GTO                  */

.container610 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate610;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate610 {

  0%    {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/1_Pic.jpg);}
  10%   {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/11_Pic.jfif);}
  20%   {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/6_Pic.jpg);}
  30%   {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/5_Pic.jpg);}
  40%   {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/4_Pic.jpg);}
  50%   {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/3_Pic.jpg);}
  60%   {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/3_Pic.jfif);}
  70%   {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/2_Pic.webp);}
  80%   {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/2_Pic.jpg);}
  90%   {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/2_Pic.jfif);}
  100%  {background-image:url(../../../1-1-31_Pics_Cars60_1960_1964_Pontiac-GTO/1_Pic.jpg);}
  }

          /*                             1962_Ferrari_330                  */

.container611 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate611;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate611 {
  0%    {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/1_Pic.webp);}
  10%   {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/9_Pic.jpg);}
  20%   {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/8_Pic.jpg);}
  30%   {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/7_Pic.jpg);}
  40%   {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/5_Pic.jpg);}
  50%   {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/2_Pic.jpg);}
  60%   {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/3_Pic.webp);}
  70%   {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/3_Pic.jpg);}
  80%   {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/2_Pic.webp);}
  90%   {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/2_Pic.jpg);}
  100%  {background-image:url(../../../1-1-32_Pics_Cars60_1962_Ferrari_330/1_Pic.jpg);}
  }

              /*                         1962_Ferrari_250_GTO                 */

.container612 {
  height: 65vh;
  width: 100%;
  background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;
  animation-name: animate612;
  animation-direction: alternate-reverse;
  animation-duration:50s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
  animation-play-state:running;
  animation-timing-function:ease-in-out;
}

@keyframes animate612 {

  0%    {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/4_Pic.jpg);}
  10%   {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/3_Pic.webp);}
  20%   {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/3_Pic.jpg);}
  30%   {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/2_Pic.jpg);}
  40%   {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/2_Pic.webp);}
  50%   {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/2_Pic.jfif);}
  60%   {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/1_Pic.avif);}
  70%   {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/1_Pic.webp);}
  80%   {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/1_Pic.png);}
  90%   {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/1_Pic.jfif);}
  100%  {background-image:url(../../../1-1-33_Pics_Cars60_1962_Ferrari_250_GTO/1_Pic.jpg);}
  }

/*                                     Media Queries                             */


    @media only screen and (max-width: 1100px){
        .wrapper{grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);}}
        ::selection{ float: none; width: 100%; padding-right: 0px; }}

    @media screen and (max-width: 600px) {
        header h1{ background-image: none; text-align: center; z-index: 3; }
        nav{ grid-row: 2 / 3; grid-column: 1 / 9; }}







