    body {
      background: linear-gradient(to left , #341c75, black);
      font-family: cursive;
      background-attachment: fixed;
      margin: 0px;
      }



 /*                                ----   Header CSS   -----                   */

   .main-content::before {
      content:"";
      position: absolute;
      padding-top: 20px;

      }

   .header {
      color: white;
      display: grid;
      grid-template-columns: 70% 25% ;
      height: 85px;
      padding-left: 2%;
      width:98%;
      font-family: cursive;
      font-size: 40px;
      border-bottom: 2px solid maroon;
      z-index: 3;
      }

   .padding {
        padding-top: 2%;
   }

   .phone {
     padding-top: 10px;
     color: white;
     font-size: 15px;
     }


   header h1 {
      line-height: 140%;
      padding: .5rem;
      margin-bottom: 0px;
      margin: 0px;
      z-index: 100;
      }

   .navbar {
       overflow: hidden;
       background-color: #333;
       color: black;
       font-family: cursive;
       padding-left: 1500px;
       }

  .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: red;
      }

 /*                                ----   Font CSS   -----                   */

    .p3 {font-size:30px}
    .p4 {font-size:20px}
    .p2 {margin-top: -10px}

    .font {font-family: "Fantasy", copperplate; padding-left: 30px}
    .copperPlate {font-family: "Fantasy", copperplate}

 /*                                ----   Video CSS   -----                   */

 .video_class {z-index: 1;}

 .large-image {
     position: relative;
     width: 100%;
     background: black;
     z-index: 1;
     }


 /*                                ----   Body  CSS   -----                   */

    nav {
      font-weight: bold;
      grid-row: 2/3;
      grid-column: 1/-1;
      position: sticky;
      top: 0;
      background-color: #424242;
      z-index: 100;
      }

    .body-title {
       font-weight: 900;
       position: absolute;
       top: 250px;
       color: #21133b;
       border-width: 1px;
       padding-left: 100px;
       font-size: 40px;
       font-family: Fantasy, copperplate;
       z-index: 100;
       }

 /*                                ----   The Gallery   -----                   */
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }



  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    background: white;
    height: 550px;
    width: 550px;
    margin:10px;
    border-radius: 5px;
  }

  .card-image {
    height: 300px;
    padding-top: 90px;
    margin-bottom: 15px;
    background-size: cover;
  }

  .pic-1  {background-image: url("../0-1-1_Images/1-1-1_Art_Pics/A1.Art_1.jpeg");}
  .pic-2  {background-image: url("../0-1-1_Images/1-1-1_Art_Pics/A2.Art_2.jpeg");}
  .pic-3  {background-image: url("../0-1-1_Images/1-1-1_Art_Pics/A3.Art_3.jpeg");}
  .pic-4  {background-image: url("../0-1-1_Images/1-1-1_Art_Pics/A4.Art_4.jpeg");}
  .pic-5  {background-image: url("../0-1-1_Images/1-1-1_Art_Pics/A5.Art_5.jpeg");}
  .pic-6  {background-image: url("../0-1-1_Images/1-1-1_Art_Pics/A6.Art_6.jpeg");}
  .pic-7  {background-image: url("../0-1-1_Images/1-1-1_Art_Pics/A7.Art_7.jpeg");}
  .pic-8  {background-image: url("../0-1-1_Images/1-1-1_Art_Pics/A8.Art_8.jpeg");}
  .pic-9  {background-image: url("../0-1-1_Images/1-1-1_Art_Pics/A9.Art_9.jpeg");}


  .card:hover {
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
  }

        .title {
      text-align: center;
      font-family: Fantasy, copperplate;
      font-size: 50px;
      margin: 0;
    }

    .description {
      text-align: center;
      font-family: Fantasy, copperplate;
      font-size: 20px;
      margin: 0;
    }

    .price {
      text-align: center;
      font-family: Fantasy, copperplate;
      font-size: 20px;
      margin: 0;
    }
 /*                                ----   About Us   -----                   */
   .bodyGrid {
       display: grid;
       grid-template-columns: 1fr  ;
       grid-template-rows: 100px ;
       font-size: 30px;
       color: Black;
       z-index: 2;
       }

   .bodyGrid_1 {
       display: grid;
       grid-template-columns: 5% 90%;
       grid-template-rows: 50px  ;

       z-index: 2;
       }


   .about-me {
      background:white;
      font-size: 40px;
      color: Black;
      padding: 30px;
      border: 5px solid black;
      text-shadow: 7px 7px 50px grey;
      box-shadow: 0px 8px 16px 0px white;
      border-radius: 55px;
      font-style: italic;
      }

/*              Schedule Appointment                  */

   .contact_us {font-family: Fantasy, copperplate; color: white;}

   .emailLayout {
        padding-top: 1%;
        padding-bottom: 200px;
        display: grid;
        height:400px;
        grid-template-rows: 1fr;
        background-image: url("../../0-1-1 Images/back1.webp");
        }

    .emailBox {
        display: grid;
        grid-template-columns: 20% 80%;
        font-size: 40px;
        }

    .emailBoxName {font-size:25px; width: 400px;}
    .emailPhNumber {font-size:25px; width: 200px;}
    .emailBoxAddr {font-size:25px; width: 470px;}
    .emailBoxZip {font-size:25px; width: 130px;}
    .emailBoxProject {font-size:25px;width: 620px;}

    .submitEmail {background: #de652c;
        font-size:30px;
        width: 630px;
        color: white;
        border-radius: 50px;
        box-shadow: 5px 8px 16px 0px black;
        }


 /*                                ----   Wrapper Method   -----                   */
#wrapper {
    box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    z-index: 3;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-row: 4 / 5;
    grid-column: 2 / 8;
    background-color: #ffffff;
    z-index: 3;
}


* {box-sizing: border-box;}

nav ul{
    list-style-type: none;
}
nav ul li{display: inline;
}


nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    z-index: 1;
}

nav ul li {width: 100%;}

nav a:hover {background-color: #ba1c21;}



/*                   -----------    Buttons   --------------------*/



 .dropbtn {
    width: 100%;
    background-color: #424242;
    font-size: 16px;
    border: none;
    font-family: "Fantasy", copperplate;
    color: white;
    opacity: .5;
          }

 .dropdown {
    position: relative;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
   z-index: 3;
    }

 .dropdown-content {
   background: white;
   text-align: left;
   display: none;
   font-family: "Fantasy", copperplate;
   position: absolute;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 3;
   }

 .dropdown-content a {
   text-align: left;
   color: black;
   width: 350px;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   z-index: 3;
   }

 .dropbtn:hover {background-color: red;cursor: pointer;}

 .dropdown:hover .dropdown-content {display: block; }



/*                                     Media Queries                             */


@media only screen and (max-width: 1100px){
    .wrapper{
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);
    }
}
    ::selection{
        float: none;
        width: 100%;
        padding-right: 0px;
        }
        }

@media screen and (max-width: 600px) {
    header h1{
        background-image: none;
        text-align: center;
        z-index: 3;
        }
    nav{
        grid-row: 2 / 3;
        grid-column: 1 / 9;
        }
    }



