
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Audiowide", sans-serif;
  color: #0c120a;
  }

  
.title {
  font-family: "Audiowide", sans-serif;
  color: white;     
  font-weight: 900;
  padding-left: 2%;
  text-shadow: 2px 2px red;
}      

img {height: 50px;}

header {
  background: linear-gradient(to left , #797a79, black);
    grid-row: 1/2;
    grid-column: 1/9;
    }

header a {
  height: 20px;
  font-size: 55px;
  text-decoration: none;
  z-index: 100;
  }

header h1 {
  line-height: 140%;
  padding: .5rem;
  margin-bottom: 0px;
  margin: 0px;
  z-index: 100;
  }



.Banner {
  display: grid;
  grid-template-columns: 25% 15% 25% 15% 15%;
  }


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  }


#wrapper {
  box-shadow: 0px 3px 3px rgba(66, 66, 66, 0.3);
  display: grid;
  grid-auto-rows: minmax(0px, auto);
  z-index: 3;
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
  }

main {

  padding-left: 5rem;
  padding-right: 2rem;
  grid-column: 2 / 8;
  background-color: #ffffff;
  z-index: 3;
  }

* {box-sizing: border-box;}

  nav {
  font-weight: bold;
  font-size: 25px;
  grid-row: 2/3;
  grid-column: 1/-1;
  position: sticky;
  top: 0;
  background-color: #424242;
  border-bottom: 3px solid #be1010;
  z-index: 100;
  }

nav ul{list-style-type: none;}

nav ul li{display: inline;}


nav ul {

 margin: 0px;
 padding: 0px;
  text-align: center;
 display: flex;
 flex-flow: row nowrap;
 list-style-type: none;
 z-index: 1;
 }

nav ul li {width: 100%;}

nav a:hover {background-color: #ba1c21;}

.dropbtn {
  width: 100%;
  background-color: #424242;
  font-size: 15px;
  border: none;
  color: white;
  opacity: .5;
        }

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  z-index: 50;
  }


.dropdown-content {
 background: white;
 text-align: left;
 display: none;
 font-family: "Fantasy", copperplate;
 position: absolute;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 50;
 }

.dropdown-content a {
 text-align: left;
 color: black;
 width: 350px;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 z-index: 50;
 }

.dropbtn:hover {background-color: red;cursor: pointer;}

.dropdown:hover .dropdown-content {display: block;}


.container {
    height: 85vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration:15s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate {


  0%     {background-image:url(../1-1-26_Pics_Cars60_1963_Chevy_Corvette/2_Pic.jpg);}
  5%     {background-image:url(../1-1-95_Pics_Ebike_Giant_Trance/1_Pic.jpeg);}
  10%    {background-image:url(../1-1-123_Pics_E_Cars_Porsche_Taycan/1_Pic.jpg);}
  15%    {background-image:url(../1-1-138_Pics_Motorcycle_Yamaha_175/1_Pic.jpeg);}
  20%    {background-image:url(../1-1-61_Pics_Cars80_1984_Porsche_928/1_Pic.jpeg);}
  25%    {background-image:url(../1-1-60_Pics_Cars80_1984_Delorean/1_Pic.jpg);}
  30%    {background-image:url(../1-1-85_Pics_Cars2000_2008_Plymouth_Chrysler_Prowler/2_Pic.jpg);}
  35%    {background-image:url(../1-1-12_Pics_Truck_2001_F250/1_Pic.jpeg);}
  40%    {background-image:url(../1-1-42_Pics_Cars70_1970_Chevy_Corvette/1_Pic.jpg);}
  45%    {background-image:url(../1-1-137_Pics_Motorcycle_Kawaski_ZX7/1_Pic.webp);}  

  50%    {background-image:url(../1-1-26_Pics_Cars60_1963_Chevy_Corvette/2_Pic.jpg);}
  55%    {background-image:url(../1-1-136_Pics_Motorcycle_Suzuki_GSXR/1_Pic.jpeg);}
  60%    {background-image:url(../1-1-86_Pics_Cars2000_2008_Chevy_Corvette/1_Pic.jpg);}
  65%    {background-image:url(../1-1-38_Pics_Cars70_1970_Pontiac_Firbird/1_Pic.jpg);}
  70%    {background-image:url(../1-1-15_Pics_Truck_Dodge_Ram/1_Pic.webp);}
  75%    {background-image:url(../1-1-11_Pics_Truck_2022_F250/2_Pic.jpeg);}
  80%    {background-image:url(../1-1-7_Pics_OffRoad_Wrangler-4Door/1_Pic.jpeg);}
  85%    {background-image:url(../1-1-10_Pics_OffRoad_Hummer_H3/1_Pic.jpeg);}
  100%   {background-image:url(../1-1-40_Pics_Cars70_1970_Chevy_Camaro/1_Pic.jpg);}
    }

