body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Audiowide", sans-serif;
    color: #0c120a;
    background: linear-gradient(to left , #797a79, black);
    }
  
  * {box-sizing: border-box;}
  
  .icon {
    text-decoration: none;
  }
  
  .title {
    font-family: "Audiowide", sans-serif;
    font-weight: 900;
    padding-left: 2%;
    font-size: 55px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px #c15b5b;
  }
  
  img {height: 50px;}
  
  nav ul{list-style-type: none;}
  nav ul li{display: inline;}
  
  
  nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    z-index: 1;
    }
  
  nav ul li { width: 100%;}
  
  
  
  
  
  /*                   -----------    Buttons   --------------------*/
  
   .dropbtn {
      width: 100%;
      background-color: transparent;
      font-size: 20px;
      border: none;
      font-family: "Fantasy", copperplate;
      color: white;
      }
  
     .dropdown {
        position: relative;
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
        z-index: 3;
        }
  
     .dropdown-content {
        background: white;
        color: white;
        text-align: left;
        display: none;
        font-family: "Fantasy", copperplate;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
        }
  
     .dropdown-content a {
       text-align: left;
       color: black;
       width: 350px;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       z-index: 3;
       }
  
     .dropbtn:hover {background-color: red;cursor: pointer;}
  
     .dropdown:hover .dropdown-content {display: block; }
  
  
     /*
                    CSS FOR SERVICES
  */
    .services {
      padding-top: 45px;
      width: 100%;
      font-family: "Fantasy", copperplate;
      height: 00px;
      display: grid;
      grid-template-columns: 10% 80% 10%;
      grid-template-rows: 400px 150px;
      margin-top: 2%;
      margin-left: 1%;
      z-index: 500;
      }
  
    .services1 {
      background:white;
      color: black;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 70px 40px 40px 40px 40px 40px 40px;
      font-size: 35px;
      border-top: 2px solid Red;
      border-bottom: 4px solid Red;
      border-left: 2px solid Red;
      border-right: 4px solid rgb(60, 0, 255);
      box-shadow: 20px 8px 16px 0px black;
      padding-left: 30px;
      }
  
     .services2 {font-size: 25px;}
  
  
  
  /*----------------------------------------------------------------------
                           CSS for Gallery
  ----------------------------------------------------------------------*/
     .Gallery_main-page {
       padding-top: 50px;
       display: grid;
       grid-template-columns: 1% 48% 1% 48%;
       grid-template-rows: 13% 1% 13% 1% 13% 1% 13% 1% 13% 1% 13% 1% 13% 1% 13% 1%  ;
       font-size: 20px;
       font-weight: bold;
       }
  
     .Gallery_Image {
      width: 100%;
      height: 100%;
      box-shadow: 20px 8px 16px 0px black;
      transition: 0.9s;
      z-index: 500;
      }
  
    .Gallery_Image :hover {
      opacity: 0.8;
      }
  
      .items_Gallery {
        height: 100%;
  
        color: white;
        box-shadow: 0px 8px 16px 0px black;;
        opacity: .9;
        padding-left: 10%;
        }
  
  /*                                    Slide Show                            */
      .grid-1 {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 10% 80% 5%;
        z-index: 500;
        }
  
  
  /*----------------------------------------------------------------------
                          Transitions Code
  ----------------------------------------------------------------------*/

/*                   Row 1                    */

.container1 {
    height: 45vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate1;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate1 {

    0%   {background-image:url(../../1-1-12_Pics_Truck_2001_F250/11_Pic.webp);}
    10%  {background-image:url(../../1-1-12_Pics_Truck_2001_F250/10_Pic.webp);}
    20%  {background-image:url(../../1-1-12_Pics_Truck_2001_F250/9_Pic.jpeg);}
    30%  {background-image:url(../../1-1-12_Pics_Truck_2001_F250/8_Pic.jpeg);}
    40%  {background-image:url(../../1-1-12_Pics_Truck_2001_F250/7_Pic.jpeg);}
    50%  {background-image:url(../../1-1-12_Pics_Truck_2001_F250/6_Pic.jpeg);}
    60%  {background-image:url(../../1-1-12_Pics_Truck_2001_F250/5_Pic.jpeg);}
    70%  {background-image:url(../../1-1-12_Pics_Truck_2001_F250/4_Pic.jpeg);}
    80%  {background-image:url(../../1-1-12_Pics_Truck_2001_F250/3_Pic.jpeg);}
    90%  {background-image:url(../../1-1-12_Pics_Truck_2001_F250/2_Pic.jpeg);}
    100% {background-image:url(../../1-1-12_Pics_Truck_2001_F250/1_Pic.jpeg);}
    }

/*                   Row 2                    */

.container2 {
    height: 45vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate2;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate2 {

    0%   {background-image:url(../../1-1-13_Pics_Truck_2022_F150/1_PIc.jpeg);}
    10%  {background-image:url(../../1-1-13_Pics_Truck_2022_F150/10_PIc.png);}
    20%  {background-image:url(../../1-1-13_Pics_Truck_2022_F150/9_PIc.jpeg);}
    30%  {background-image:url(../../1-1-13_Pics_Truck_2022_F150/8_PIc.jpeg);}
    40%  {background-image:url(../../1-1-13_Pics_Truck_2022_F150/8_PIc.jpeg);}
    50%  {background-image:url(../../1-1-13_Pics_Truck_2022_F150/7_PIc.png);}
    60%  {background-image:url(../../1-1-13_Pics_Truck_2022_F150/6_PIc.jpeg);}
    70%  {background-image:url(../../1-1-13_Pics_Truck_2022_F150/4_PIc.jpeg);}
    80%  {background-image:url(../../1-1-13_Pics_Truck_2022_F150/3_PIc.webp);}
    90%  {background-image:url(../../1-1-13_Pics_Truck_2022_F150/2_PIc.jpeg);}
    100% {background-image:url(../../1-1-13_Pics_Truck_2022_F150/1_PIc.jpeg);}
    }

/*                   Row 3                    */

.container3 {
    height: 45vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate3;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate3 {
    0%   {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/2_Pic.jpeg);}
    10%  {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/1_Pic.webp);}
    20%  {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/10_Pic.webp);}
    30%  {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/9_Pic.jpeg);}
    40%  {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/8_Pic.webp);}
    50%  {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/7_Pic.webp);}
    60%  {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/6_Pic.jpeg);}
    70%  {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/5_Pic.jpeg);}
    80%  {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/4_Pic.jpeg);}
    90%  {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/3_Pic.jpeg);}
    100% {background-image:url(../../1-1-14_Pics_Truck_2022_Ford_Ranger/2_Pic.jpeg);}
    }

/*                   Row 4                    */

.container4 {
    height: 45vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate4;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate4 {
    0%   {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/10_Pic.jpeg);}
    10%  {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/9_Pic.jpeg);}
    20%  {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/8_Pic.jpeg);}
    30%  {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/7_Pic.jpeg);}
    40%  {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/6_Pic.png);}
    50%  {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/6_Pic.jpeg);}
    60%  {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/5_Pic.webp);}
    70%  {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/4_Pic.webp);}
    80%  {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/3_Pic.jpeg);}
    90%  {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/2_Pic.webp);}
    100% {background-image:url(../../1-1-15_Pics_Truck_Dodge_Ram/1_Pic.webp);}
    }

/*                   Row 5                    */

.container5 {
    height: 45vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate5;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate5 {
    0%   {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/1_Pic.webp);}
    10%  {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/10_Pic.webp);}
    20%  {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/9_Pic.jpeg);}
    30%  {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/8_Pic.jpeg);}
    40%  {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/7_Pic.jpeg);}
    50%  {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/6_Pic.jpeg);}
    60%  {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/5_Pic.jpeg);}
    70%  {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/4_Pic.jpeg);}
    80%  {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/3_Pic.jpeg);}
    90%  {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/2_Pic.jpeg);}
    100% {background-image:url(../../1-1-16_Pics_Truck_Chevy_Colorado/1_Pic.jpeg);}
    }

/*                   Row 6                    */

 .container6 {
    height: 45vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate6;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate6 {
    0%   {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/11_Pic.jpeg);}
    10%  {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/10_Pic.jpeg);}
    20%  {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/1_Pic.webp);}
    30%  {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/9_Pic.jpeg);}
    40%  {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/8_Pic.webp);}
    50%  {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/7_Pic.webp);}
    60%  {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/6_Pic.webp);}
    70%  {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/5_Pic.jpeg);}
    80%  {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/4_Pic.jpeg);}
    90%  {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/3_Pic.jpeg);}
    100% {background-image:url(../../1-1-17_Pics_Truck_Toyota_Tacoma/2_Pic.jpeg);}
    }

    /*                   Row 7                    */

.container7 {
    height: 45vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate7;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate7 {
    0%   {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/11_Pic.jpeg);}
    10%  {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/10_Pic.jpeg);}
    20%  {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/9_Pic.jpeg);}
    30%  {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/8_Pic.webp);}
    40%  {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/7_Pic.jpeg);}
    50%  {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/6_Pic.jpeg);}
    60%  {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/5_Pic.jpeg);}
    70%  {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/4_Pic.webp);}
    80%  {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/3_Pic.jpeg);}
    90%  {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/2_Pic.webp);}
    100% {background-image:url(../../1-1-18_Pics_Truck_Hyundai_Santa_Cruz/1_Pic.webp);}
    }

/*                 Row 8             */

.container8 {
    height: 45vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate8;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate8 {
    0%   {background-image:url(../../1-1-11_Pics_Truck_2022_F250/11_Pic.webp);}
    10%  {background-image:url(../../1-1-11_Pics_Truck_2022_F250/10_Pic.jpeg);}
    20%  {background-image:url(../../1-1-11_Pics_Truck_2022_F250/9_Pic.webp);}
    30%  {background-image:url(../../1-1-11_Pics_Truck_2022_F250/8_Pic.jpeg);}
    40%  {background-image:url(../../1-1-11_Pics_Truck_2022_F250/7_Pic.jpeg);}
    50%  {background-image:url(../../1-1-11_Pics_Truck_2022_F250/6_Pic.jpeg);}
    60%  {background-image:url(../../1-1-11_Pics_Truck_2022_F250/5_Pic.webp);}
    70%  {background-image:url(../../1-1-11_Pics_Truck_2022_F250/4_Pic.jpeg);}
    80%  {background-image:url(../../1-1-11_Pics_Truck_2022_F250/3_Pic.jpeg);}
    90%  {background-image:url(../../1-1-11_Pics_Truck_2022_F250/2_Pic.jpeg);}
    100% {background-image:url(../../1-1-11_Pics_Truck_2022_F250/1_Pic.webp);}
    }

/*                 Row 9             */

.container9 {
    height: 45vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate9;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate9 {
    0%   {background-image:url(../1-1-9.F-16/1-1-1.Pics/10_Pic.jpeg);}
    10%  {background-image:url(../1-1-9.F-16/1-1-1.Pics/9_Pic.jpeg);}
    20%  {background-image:url(../1-1-9.F-16/1-1-1.Pics/8_Pic.jpeg);}
    30%  {background-image:url(../1-1-9.F-16/1-1-1.Pics/7_Pic.webp);}
    40%  {background-image:url(../1-1-9.F-16/1-1-1.Pics/6_Pic.jpeg);}
    50%  {background-image:url(../1-1-9.F-16/1-1-1.Pics/5_Pic.jpeg);}
    60%  {background-image:url(../1-1-9.F-16/1-1-1.Pics/3_Pic.webp);}
    70%  {background-image:url(../1-1-9.F-16/1-1-1.Pics/4_pic.webp);}
    80%  {background-image:url(../1-1-9.F-16/1-1-1.Pics/2_Pic.jpeg);}
    90%  {background-image:url(../1-1-9.F-16/1-1-1.Pics/1_Pic.webp);}
    100% {background-image:url(../1-1-9.F-16/1-1-1.Pics/0_Logo.png);}
    }

 /*                 Row 10             */

    .container10 {
    height: 45vh;
    width: 100%;
    background-image: url(0-0-1.Pics/1.RZR_Logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 50s;
    animation-name: animate10;
    animation-direction: alternate-reverse;
    animation-duration:50s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate10 {
    0%   {background-image:url(../1-1-10.F-35/1-1-1.Pics/10_Pic.jpeg);}
    10%  {background-image:url(../1-1-10.F-35/1-1-1.Pics/9_Pic.jpeg);}
    20%  {background-image:url(../1-1-10.F-35/1-1-1.Pics/8_Pic.jpeg);}
    30%  {background-image:url(../1-1-10.F-35/1-1-1.Pics/7_Pic.jpeg);}
    40%  {background-image:url(../1-1-10.F-35/1-1-1.Pics/6_Pic.webp);}
    50%  {background-image:url(../1-1-10.F-35/1-1-1.Pics/5_Pic.jpeg);}
    60%  {background-image:url(../1-1-10.F-35/1-1-1.Pics/3_Pic.jpeg);}
    70%  {background-image:url(../1-1-10.F-35/1-1-1.Pics/4_pic.jpeg);}
    80%  {background-image:url(../1-1-10.F-35/1-1-1.Pics/2_Pic.jpeg);}
    90%  {background-image:url(../1-1-10.F-35/1-1-1.Pics/1_Pic.jpeg);}
    100% {background-image:url(../1-1-10.F-35/1-1-1.Pics/0_Logo.jpeg);}
    }

/*                                     Media Queries                             */


    @media only screen and (max-width: 1100px){
        .wrapper{grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(0px, 1fr);}}
        ::selection{ float: none; width: 100%; padding-right: 0px; }}

    @media screen and (max-width: 600px) {
        header h1{ background-image: none; text-align: center; z-index: 3; }
        nav{ grid-row: 2 / 3; grid-column: 1 / 9; }}



   .header {
      color: white;
      display: grid;
      grid-template-columns: 70% 25% ;
      height: 85px;
      padding-left: 2%;
      width:98%;
      font-family: "Fantasy", copperplate;
      font-size: 40px;
      border-bottom: 2px solid maroon;
      z-index: 3;
      }





